@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;600;700&family=Montserrat:wght@100;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background-color: #242629;
  color: #fffffe;
}

/* Navbar hover opacity */
nav:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

/* Project button line after click */
line {
  stroke-width: 3;
  border-radius: 0 0 5px 5px;
  stroke-linecap: round;
  fill: transparent;
  filter: drop-shadow(0 0 2px #2cb67d) drop-shadow(0 0 4px #2cb67d);
}

.parent {
  width: 20px;
  height: auto;
}

.project-line {
  width: 100%;
  height: auto;
}

/* Dividers */

.divider {
  border-radius: 10px;
  box-shadow: 0 0 10px #2cb67d, 0 0 20px #2cb67d, 0 0 40px #2cb67d,
    0 0 80px #2cb67d, 0 0 120px #2cb67d;
}

/* Project subtitle scaling font size */

@media only screen and (min-width: 768px) and (max-width: 1060px) {
  .project-sub {
    font-size: 1.5vmin;
  }
}

/* Skill cards */

.skills-container {
  height: 50vh;
  width: 30vmin;
  position: relative;
  margin: 8em auto 6em auto;
}

.task-container-fan {
  width: 20vmin !important;
}

@media only screen and (max-width: 768px) {
  .skills-container {
    margin: 4em auto 2em auto;
  }
}

/* Circle guide on skills fan */
/* .added-plus2 {
  width: 170px;
  height: 170px;
  border: 2px solid green;
  position: absolute;
  top: 65.5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 5;
} */
